h1{
    border-bottom:dotted;
}

body{
    background-color:burlywood;
}



ul li::first-letter {
  text-transform: uppercase; 

}

ul li::first-letter {
  font-weight:bolder

}

ul li::first-letter {
    text-size-adjust: 200%;
}

ul {
    list-style: none;
}

div{
    text-align:center;
}

body {
    font-style:italic;
}

div2{
    text-align:center;
}

body{
    padding: 1.5cm;
}

.centerLinkAtBottom{
    text-align:center;
}

#wrap{
    background-color:aliceblue;
    border-bottom:dotted; border-top:dotted; border-left:dotted; border-right:dotted;
}




