body {
    background-color:darkblue;
}

body{
    text-align:center; font-family:Arial;
}

ul {
    list-style-position: inside;
}

body{
    padding: 3cm;
}


h1, p {
    text-align:left;
}

h1,p{
    line-height:50%;
}



